$breakpointSmall: 'all and (min-width: 30em)'; // 480px
$breakpointMedium: 'all and (min-width: 48em)'; // 768px
$breakpointLarge: 'all and (min-width: 62em)'; // 992px
$breakpointXLarge: 'all and (min-width: 75em)'; // 1200px
